<section class="background" id="contact_link">
	<div class="medium-collapse content-block-5 text-shadow row">
		<div class="content-block-2 small-12 medium-4 columns">
			<div class="circle"><%=image_tag('bob.jpg')%></div>
		</div>
		<div class="show-for-medium-up content-block-2 vertical-parent small-12 medium-8 columns">
			<div class="text-center vertical-center">
				<h2>Contact <span class="logo-font">Fitness for Everyone</span> for <%= indefinite_articlerize(yield(:consult))%> Consultation Today!</h2>
				<%=link_to("Get In Touch!", contact_path, class: " text-shadow large button radius success")%>
			</div>
		</div>
		<div class="show-for-small-only content-block-2 small-12 medium-8 columns">
			<div class="text-center">
				<h2>Contact <span class="logo-font">Fitness for Everyone</span> for <%= indefinite_articlerize(yield(:consult))%> Consultation Today!</h2>
				<%=link_to("Get In Touch!", contact_path, class: " text-shadow large button radius success")%>
			</div>
		</div>
	</div>
</section>
