<% provide(:title, 'Contact') %>


<section class="text-shadow background" id="contact">

<!-- TODO: make reveal modal to house progress bar -->
	<div class="row">
		<div class="text-center small-centered small-12 medium-10 columns">
			<h2>Get in Touch, Schedule a Consultation, <br> Get an Appointment! </h2>
		<%=image_tag('email.svg', id: 'email') %>
		</div>
	</div>

	<%= form_for @contact, url: contacts_path, remote: true, format: :json, validate: true do |f| %>

		<div class="row">
	    	<div class="small-12 medium-centered medium-8 columns">
				<%= f.label :name, class: "input-label" do %>
					Name
				<%end%> 

			   	<%= f.text_field :name,  :validate => true, class: 'input', placeholder: "Enter your name"%>
		
		 	</div>
		</div>	
		<div class="row">
	    	<div class="small-12 medium-offset-2 medium-4 columns">
			   	<%= f.label :email, class: "input-label"  do %>
					Email 
				<%end%> 
				<%= f.text_field :email, :validate => true, class: 'input', placeholder: "yourname@email.com"%>
				
			</div>
	  		<div class="small-12 medium-4 end columns">
			  	<%= f.label :phone, class: "input-label" do %>
					Phone Number
				<%end%>   
				<%= f.text_field :phone, :validate => true, class: 'input', placeholder: "Please enter your phone number"%>
			</div>
	  	</div>
		<div class="row">
	   		<div class="small-12 medium-8 small-centered columns">
				<%= f.label :message, class: "input-label"  do %>
					Message 
				<%end%> 
				<%= f.text_area :message, :validate => true, class: 'input', placeholder: "Enter a message"%>
			
			</div>
		</div>
		<div class="row">
			<div class="submit text-center small-12 medium-8 small-centered columns">
				<%=f.submit 'Send Message', id:'submit', class: "success button radius large"%>
			</div>
		</div>
	<% end %>


	<div id="contact-modal" class="small reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<div class="modal-area text-center">
		    <p id="modalTitle" class="lead">Sending Your Mesage...</p>
		 	<div class="spinner">
  				<div class="double-bounce1"></div>
  				<div class="double-bounce2"></div>
			</div>
		  	<p class='icon sent'><i class="fa fa-check-circle fa-5x "></i></p>
		  	<p class='icon fail'><i class="fa fa-exclamation-triangle fa-5x "></i></p>
	  	</div>

	  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>
</section>
<%= javascript_include_tag "validation" %>