<section class="text-shadow" id="subsection">
	<svg id="topTriangleColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
			<path d="M0 0 L50 100 L100 0 Z" />
			<line class="whiteStroke" x1="0" y1="0" 
          x2="50" y2="100" />
          <line class="whiteStroke" x1="50" y1="100" 
          x2="100" y2="0" />
	</svg>
	<div class="row">
		<div class="small-12 columns text-center">
			<h1>For Everyone?  You bet!</h1>
			<div class="small-12 medium-8 columns small-centered">
			<p>
			<span class="logo-font">Fitness for Everyone</span> offers everything from equipment services to personal training to fit everyone's needs, we've got you covered!
			</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns text-center small-centered">
			<div class="content-block show-for-medium-up">
				<ul class="medium-block-grid-3">
					<li>
						<div class="circle center"><%=image_tag("placeholder.gif")%></div>
					</li>
					<li>
						<div class="circle center"><%=image_tag("placeholder.gif")%></div>
					</li>
					<li>
						<div class="circle center"><%=image_tag("placeholder.gif")%></div>	
					</li>
				</ul>
				<ul class="medium-block-grid-3">
					<li><h3>Subheading</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in tristique sem. Etiam posuere velit at tincidunt tincidunt. Proin consequat ac massa vel efficitur. Quisque ac consectetur mi. Sed sed est ac diam interdum ultricies non vitae augue. Proin non viverra quam. Vivamus cursus felis mi, ornare auctor nisi tincidunt in.</p></li>
					<li><h3>Subheading</h3><p>Pellentesque vitae convallis felis. Sed in augue a metus congue porttitor vitae quis urna. Vivamus scelerisque dictum rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc lacinia at magna vel condimentum. Curabitur dapibus, ex sed viverra pharetra, purus enim iaculis lacus, </p></li>
					<li><h3>Subheading</h3><p>Quisque venenatis diam in enim dapibus, vitae viverra odio tincidunt. Vivamus feugiat enim vitae sodales blandit. Fusce non odio vel tortor blandit consectetur nec at massa. Donec non ultricies neque. Vivamus in ultrices magna, at luctus nisl. Mauris tempus felis purus, sit amet varius tellus rutrum vitae. Nam hendrerit arcu in elementum commodo. In velit risus, elementum quis suscipit sit amet, tempor nec felis.</p></li>
				</ul>
			</div>
			<div class="content-block show-for-small-only">
				<div class="row subheading-row">
					<div class="small-12 columns text-center"><h3>Subheading</h3></div>
					<div class="r small-12 columns">
						<div class="circle center"><%=image_tag("placeholder.gif")%></div>
					</div>
					<div class="small-12 columns">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in tristique sem. Etiam posuere velit at tincidunt tincidunt. Proin consequat ac massa vel efficitur. Quisque ac consectetur mi. Sed sed est ac diam interdum ultricies non vitae augue. Proin non viverra quam. Vivamus cursus felis mi, ornare auctor nisi tincidunt in.</p>
					</div>
				</div>
				<div class="row subheading-row">
					<div class="small-12 columns text-center"><h3>Subheading</h3></div>
					<div class="small-12 columns">
						<div class="circle center"><%=image_tag("placeholder.gif")%></div>
					</div>
					<div class="small-12 columns">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in tristique sem. Etiam posuere velit at tincidunt tincidunt. Proin consequat ac massa vel efficitur. Quisque ac consectetur mi. Sed sed est ac diam interdum ultricies non vitae augue. Proin non viverra quam. Vivamus cursus felis mi, ornare auctor nisi tincidunt in.</p>
					</div>
				</div>
				<div class="row subheading-row">
					<div class="small-12 columns text-center"><h3>Subheading</h3></div>
					<div class="small-12 columns">
						<div class="circle center"><%=image_tag("placeholder.gif")%></div>
					</div>
					<div class="small-12 columns">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in tristique sem. Etiam posuere velit at tincidunt tincidunt. Proin consequat ac massa vel efficitur. Quisque ac consectetur mi. Sed sed est ac diam interdum ultricies non vitae augue. Proin non viverra quam. Vivamus cursus felis mi, ornare auctor nisi tincidunt in.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
