<section class="halfcircle background text-shadow" id="brands">


	<div class="text-center content row">

		<div class="small-12 small-centered columns">
			<h2>Brands you recognize.  Service you can trust.</h2>
		</div>
		<div class="small-12 medium-8 small-centered columns">
			<p class="promo">Fitness for Everyone is a certified dealer for <span class="company">SPRI </span> accessories, <span class="company">Centaur</span> flooring systems, and <span class="company">UMAX</span> dumbbells, barbells, kettlebells and weight plates. </p>
		
			<p class="promo">Our technicians are also certified to repair and service warrantied <span class="company">Precor</span>, <span class="company">Technogym</span> and <span class="company">Matrix</span> commercial fitness equipment.</p>
			
		</div>
		<div class="logo-block">
			<ul class="small-block-grid-3">
				<li><a class="vertical-parent circle" target="_blank" href="http://www.spri.com"><%=image_tag("spri.png", class: 'vertical-center')%></a></li>
				<li><a class="vertical-parent circle" target="_blank" href="http://www.centaurfloors.com"><%=image_tag("centaur.png", class: "vertical-center")%></a></li>
				<li><a class="vertical-parent circle" target="_blank" href="http://www.umaxproducts.com/"><%=image_tag("umax.png", class: "vertical-center")%></a></li>
			</ul>

			<ul class="small-block-grid-3">
				<li><a class="vertical-parent circle" target="_blank" href="http://www.precor.com/"><%=image_tag("precor.png", class: "vertical-center")%></a></li>
				<li><a class="vertical-parent circle" target="_blank" href="http://www.technogym.com/"><%=image_tag("technogym.png", class: "vertical-center")%></a></li>
				<li><a class="vertical-parent circle" target="_blank" href="http://www.matrixfitness.com/"><%=image_tag("matrix.png", class: "vertical-center")%></a></li>
			</ul>
		</div>
	</div>

</section>
