<div class="halfcircle eqip-bg">
<section class="content-block-5 text-shadow" id="equipment">
	<div class="row">
		<div class="content-block-2 text-center heading small-12 columns">
			<h1>What Does <span class="logo-font">Fitness for  Everyone</span> Offer?</h1>
			<div class="content-block-2 small-12 medium-8 small-centered columns">
				<p class="promo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis temporibus facere amet inventore voluptatibus nobis modi voluptatem ducimul!</p>
			</div>
		</div>
	</div>
	<div class="text-center big-box border">
		<div data-equalizer class="small-collapse row">
			<div data-equalizer-watch class="small-12 medium-6 columns">
				<div class="img-wrapper">
					<%=image_tag('equipment-header-1.jpg') %>
				</div>
			</div>
			<div data-equalizer-watch class="vertical-parent-table small-12 medium-6 columns">
				<div class="vertical-center-table">
					<h3>Professional Equipment</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum eius sed assumenda pariatur debitis aliquid molestiae, alias tenetur ullam dolorum culpa ea, amet explicabo quidem doloremque nisi necessitatibus iusto totam.</p>
				</div>
			</div>
		</div>
		<div data-equalizer class="show-for-medium-up small-collapse row">
			<div data-equalizer-watch class="vertical-parent-table small-12 medium-reset-order medium-6 columns">
				<div class="vertical-center-table">
					<h3>Personal Equipment</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum eius sed assumenda pariatur debitis aliquid molestiae, alias tenetur ullam dolorum culpa ea, amet explicabo quidem doloremque nisi necessitatibus iusto totam.</p>
				</div>
			</div>
			<div data-equalizer-watch class="small-12  medium-reset-order medium-6 columns">
				<div class="img-wrapper">
					<%=image_tag('equipment-header-2.jpg') %>
				</div>
			</div>
		</div>
		<div data-equalizer class="show-for-small-only small-collapse row">
			<div data-equalizer-watch class="small-12  medium-reset-order medium-6 columns">
				<div class="img-wrapper">
					<%=image_tag('equipment-header-2.jpg') %>
				</div>
			</div>
			<div data-equalizer-watch class="vertical-parent-table small-12 medium-reset-order medium-6 columns">
				<div class="vertical-center-table">
					<h3>Personal Equipment</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum eius sed assumenda pariatur debitis aliquid molestiae, alias tenetur ullam dolorum culpa ea, amet explicabo quidem doloremque nisi necessitatibus iusto totam.</p>
				</div>
			</div>
			
		</div>
		<div data-equalizer class="small-collapse row">
			<div data-equalizer-watch class="small-12 medium-6 columns">
				<div class="img-wrapper">
					<%=image_tag('equipment-header-3.jpg') %>
				</div>
			</div>
			<div data-equalizer-watch class="vertical-parent-table small-12 medium-6 columns">
				<div class="vertical-center-table">
					<h3>Personal Gyms</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum eius sed assumenda pariatur debitis aliquid molestiae, alias tenetur ullam dolorum culpa ea, amet explicabo quidem doloremque nisi necessitatibus iusto totam.</p>
				</div>
			</div>
		</div>
	</div>
		<!-- <div class="small-12 medium-5 columns">
			<div class="circle">
				
			</div>
		</div>
		<div class="vertical-parent-table small-12 medium-7 columns">
			<div class="vertical-center-table">
				<h3>Personal Equipment</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum eius sed assumenda pariatur debitis aliquid molestiae, alias tenetur ullam dolorum culpa ea, amet explicabo quidem doloremque nisi necessitatibus iusto totam.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-5 columns">
			<div class="circle">
				<%=image_tag('equipment-header-2.jpg') %>
			</div>
		</div>
		<div class="vertical-parent-table small-12 medium-7 columns">
			<div class="vertical-center-table">
				<h3>Professional Equipment</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam odit est doloremque eaque, voluptatem, ipsum! Ullam quae sed, veniam? Similique accusantium nam aliquid, sed amet consequatur earum odio numquam ullam.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-5 columns">
			<div class="circle">
				<%=image_tag('equipment-header-3.jpg') %>
			</div>
		</div>
		<div class="vertical-parent-table small-12 medium-7 columns">
			<div class="vertical-center-table">
				<h3>Personal Gyms</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius laboriosam vel reprehenderit nisi illo facilis doloribus, illum dolor velit similique facere est dolores eligendi dignissimos, dolorum quas. Odit, saepe, cum.</p>
			</div>
		</div>
	</div> -->
</section>
</div>
<%=javascript_include_tag('equipment') %>
 