<nav id="navbar" class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1 class="logo"><%=link_to("Fitness for Everyone", root_path, class: "logo-font", id:"logo")%></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul id="top-overlay" class="right">
      <li class=<%=is_active?(root_path)%> >
        <%=link_to(root_path) do %>
          <i class='fa fa-home'></i>
          Home
        <%end%>
      </li>
       <li class=<%=is_active?(equipment_path)%> >
        <%=link_to(equipment_path) do %>
          <i class="fa fa-bicycle"></i>
          Equipment
        <%end%>
      </li>
       <li class=<%=is_active?(trainer_path)%> >
        <%=link_to(trainer_path) do %>
          <i class="fa fa-user"></i>
          Personal Training
        <%end%>
      </li>
       <li class=<%=is_active?(contact_path)%> >
        <%=link_to(contact_path) do %>
          <i class="fa fa-envelope"></i>
          Contact
        <%end%>
      </li>
    </ul>
  </section>
</nav>