<nav id="navbar" class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1 class="logo"><%=link_to("Fitness for Everyone", root_path, class: "logo-font", id:"logo")%></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul id="top-overlay" class="right">
      <li class=<%=is_active?(root_path)%> ><%=link_to("Home", root_path)%></li>
      <li class=<%=is_active?(equipment_path)%>><%=link_to("Equipment", equipment_path)%></li>
      <li class=<%=is_active?(trainer_path)%>><%=link_to("Personal Training", trainer_path)%></li>
      <li class=<%=is_active?(contacts_path)%>><%=link_to("Contact", contacts_path)%></li>
    </ul>
  </section>
</nav>